.App {
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#drum-machine {
    display: grid;
    margin: auto;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 60px 100px 100px 100px;
    grid-gap: 20px;
    max-width: 600px;
    height: 100%;
    justify-content: center;
}

#display {
    display: flex;
    grid-area: 1/1/2/4;
    border-radius: 5px;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
}